html {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
    scroll-behavior: smooth;
}

#logo {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: none;
    position: fixed;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.6);
    display: block;
}

nav a:hover {
    color: #fff;
}

nav #new-sec{
  text-decoration: underline;
  /* font-weight: bold; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

body {
    background: linear-gradient(45deg, #8F4311, #E09D00, #A1BE37, #50A7C2, #2b5876, #4e4376, #50A7C2);
}

section {
    margin-left: 160px;
    margin-right: 160px;
}

section a {
    color: greenyellow;
}

section a:hover {
    color: pink;
}

hr {
    border: 1px solid #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    border-radius: 10px;
}

th, td {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(232, 231, 255);
}

th {
    text-align: left;
}

thead {
    background-color: #55608f;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

tbody tr:hover {
    background-color: rgba(87, 86, 173, 0.3);
}

article {
  display: flex;
  justify-content: center; /* horizontal aligns text */
  align-items: center; /* vertical aligns text */
}

.pie img {
  width: 500px;
}

.info {
  display: inline-block;
  /* vertical-align: middle; */
  width: auto;
}

.clarify {
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.6);
}
